.parallax-left-content {
  width: 80%;
  margin: 0 auto;
  padding-top: 80px;
  z-index: 0;
}

.parallax-left-content .parallax-position {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.parallax-right-content {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 40px;
}

.parallax-right-content h2 {
  font-size: 3.5em;
  font-weight: 700;
}
