.img {
  width: 100%;
  margin-bottom: 18%;
}
.container-padding {
  padding: 2% 0 0 7%;
}

.item {
  text-align: center;
}

.img_container {
  width: 200%;
  height: 150%;
  background-color: grey;
}
.caption {
  display: block;
}
